body {
    font-family: "Lucida Sans Unicode", Verdana, Arial, sans-serif;
    font-size: 12px;
    margin: 0px auto;
    /*padding: 10px;*/
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.centered {
    /*display: block;*/
    margin: 0px auto;
}

.centered_text {
    /* 	display: block; */
    margin: 0px auto;
    text-align: center;
}

/* Position login form lower down in the page. */
.login {
    position: relative;
    top: 200px;
    width: 300px;
}

/* Using example from: http://getbootstrap.com/examples/sticky-footer/ */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
}
